<div class="today-navigation my-4">
  <div><%= link_to "Hore", today_path, class: "default-color" %></div>
  <div><a href="#recent-matches" class="default-color" data-turbo="false">Výsledky</a></div>
  <div><a href="#planned-matches" class="default-color" data-turbo="false">Plán</a></div>
</div>
