<i class="bi bi-bell"></i>
<% if player.notifications.unseen.size > 0 %>
  <span class="position-absolute top-10 start-70 translate-middle badge rounded-pill bg-danger">
    <%= player.notifications.unseen.size %>
  </span>
<% end %>
