<a href="#" class="nav-link position-relative" id="desktopNotificationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <span id="bell-icon-desktop"><%= render "player/notifications/bell_icon", player: %></span>
</a>
<%= render "player/notifications/dropdown", player: %>
