<div class="page__content">
  <div class="mb-4">
    <%= render "player/notifications/mark_all_read", text: "označ ako prečítané" %>
  </div>
  <div id="notifications-list">
    <%= render "player/notifications/index_list", player: current_player %>
  </div>
</div>
