<div class="dropdown-menu dropdown-menu-end notifications-dropdown p-0" aria-labelledby="notificationsDropdown">
  <div class="notifications-body">
    <% if player.recent_unread_notifications.any? %>
      <div class="list-group list-group-flush">
        <% player.recent_unread_notifications.each do |notification| %>
          <%= link_to player_notification_path(notification), class: "list-group-item list-group-item-action" do %>
            <div class="u-fs-small">
              <%= notification.message %>
            </div>
            <div class="u-fs-small"><%= app_time(notification.created_at) %></div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="u-fs-small text-center p-2">
        Nič nové
      </div>
    <% end %>
  </div>
<!--  <div class="notifications-footer border-top p-2 text-center">-->
<!--    <a href="#" class="text-decoration-none">Predchádzajúce</a>-->
<!--  </div>-->
</div>
