<a href="#" class="nav-link position-relative" id="desktopNotificationsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <span id="bell-icon"><%= render "shared/bell_icon", player: %></span>
</a>
<%= render "shared/notifications_dropdown", player: %>
