<div class="about page__content">
  <h2 class="about__heading u-fs-giant text-center">O súťaži</h2>

  <section class="about__text">
    <div class="about__brand">TOtal.</div>

    <p class="u-text-justify">
      Topoľčianska tenisová amatérska liga "TOtal" sa vo svojich prvých rokoch odohrávala
      na kurtoch spojených s topoľčianskym kúpaliskom. Po skončení vyzývacej "papierovej pyramídy"
      v TK na Mravenisku bola v rokoch 2014-2018 jedinou aktívnou amatérskou tenisovou súťažou v meste.
      Pod správou Miloša Gešnábela si za tie roky získala stabilnú hráčsku základňu. Od roku 2019
      sa táto liga hrá voľne na ktorýchkoľvek kurtoch v meste podľa dohody hráčov.
    </p>

    <p class="u-text-justify">
      V roku 2025 bola liga upravená tak, aby v nej mohli hrať hráči rôznych herných úrovní. Systém ligy
      je založený na výzvach, tzn. prihlásený hráč vyzve iného hráča k zápasu.
    </p>

    <%= render "pages/rules", season: @last_season %>
  </section>
</div>
