<div class="about page__content">
  <h2 class="about__heading u-fs-giant text-center">O súťaži</h2>

  <section class="about__text">
    <div class="about__brand">TOtal.</div>

    <p class="u-text-justify">
      Topoľčianska tenisová amatérska liga "TOtal" sa vo svojich prvých rokoch odohrávala
      na kurtoch spojených s topoľčianskym kúpaliskom. Po skončení vyzývacej "papierovej pyramídy"
      v TK na Mravenisku bola v rokoch 2014-2018 jedinou aktívnou amatérskou tenisovou súťažou v meste.
      Pod správou Miloša Gešnábela si za tie roky získala stabilnú hráčsku základňu. Od roku 2019
      sa táto liga hrá voľne na ktorýchkoľvek kurtoch v meste podľa dohody hráčov.
    </p>

    <p class="u-text-justify">
      V roku 2025 bola liga upravená tak, aby v nej mohli hrať hráči rôznych herných úrovní. Systém ligy
      je založený na výzvach, tzn. prihlásený hráč vyzve iného hráča k zápasu. Systém je dobrovoľný,
      benevolentný, preto vyzvaný hráč môže výzvu prijať, ale aj odmietnuť. Na vyzývanie a zápasy platia
      nasledovné pravidlá:
    </p>

    <p class="u-text-justify">
      Vyzvať môže ktokoľvek kohokoľvek.<br>
      <% if @last_season&.max_matches_with_opponent.to_i > 0 %>
        Max. počet vzájomných zápasov dvoch hráčov za sezónu je <%= @last_season&.max_matches_with_opponent %>.<br>
      <% end %>
      <% if @last_season&.max_pending_matches.to_i > 0 %>
        Max. počet čakajúcich, ešte neodohratých zápasov (tzn. výziev, kt. hráč dal, alebo dostal) je <%= @last_season&.max_pending_matches %>.<br>
      <% end %>
    </p>

    <p class="u-text-justify">
      Každý hráč má priebežne nejakú percentuálnu úspešnosť výhier. Počet bodov hráča v rebríčku sa
      počíta tak, že sa spočíta aktuálna percentuálna úspešnosť jeho súperov, ale len
      zo zápasov, ktoré hráč vyhral. K tomu sa ešte pripočíta vlastná aktuálna percentuálna úspešnosť hráča
      samotného. Výsledné číslo je počet hráčových bodov v rebríčku. Tzn. ak jeho bývalí súperi, s ktorými zápasy
      vyhral neskôr viac vyhrávajú počet bodov hráčovi priebežne zvyšujú a naopak.
    </p>
    <% if @last_season&.play_off_conditions.present? %>
      <p class="u-text-justify">
        <%= @last_season.play_off_conditions %>
      </p>
    <% end %>
  </section>
</div>
