$color-nav-grey: #374251;
$color-nav-green: #6EE7B7;
$color-white: #FFFFFF;
$color-red: #F13B3B;
$color-base-green-bg: #079768;
$color-base-green-accent: #FBBF23;
$color-base-yellow-bg: #FFC225;     // #F5C54A
$color-base-yellow-accent: #079768;
$color-base-salmon-bg: #FCA5A5;
$color-base-red-bg: #991B1B;
$color-base-red-accent: #FBBF23;
$color-brand-bg: #057856;
$color-silver: #D1D5DA;
$color-grey: #95989B;
