@import "colors";
@import "general";

/* Notifications Dropdown Styles */
.notifications-dropdown {
  width: 260px;
  max-height: 450px;
  overflow-y: auto;
  background-color: $color-nav-grey;
  color: $color-white;

  .list-group-item {
    background-color: inherit;
    color: inherit;
  }
}

@media (max-width: $breakpoint-lg) {
  .mobile-notifications {
    position: fixed !important;
    top: $navbar-height !important; /* Adjust this value based on your navbar height */
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
    max-height: calc(100vh - $navbar-height) !important;
    overflow-y: auto;
    transform: none !important;
  }
}


.notifications-body {
  max-height: 300px;
  overflow-y: auto;
}

/* Hide scrollbar for notifications dropdown in Webkit browsers */
.notifications-body::-webkit-scrollbar {
  width: 6px;
}

.notifications-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
