<h2 class="u-fs-dominant text-center mt-5">Štartovné</h2>

<p class="u-text-justify">
  Ak chceš zaplatiť štartovné, môžeš tak urobiť naskenovaním tohto QR kódu v tvojej bankovej aplikácii.
  V prípade, ak účet, z ktorého platíš nie je registrovaný na meno ktoré zapisuješ do sezóny,
  uveď prosím toto meno a priezvisko v popise platby - poznámka pre prijímateľa. Po zaplatení ber na vedomie, že
  spracovanie platby manažérom súťaže môže chvíľu trvať.
</p>

<div class="text-center my-4">
  <%= image_tag "qr_payment.jpg", alt: "QR kód pre platbu", class: "img-fluid", style: "max-width: 300px;" %>
</div>
